# Some dependencies to add: 
fastapi
uvicorn
sqlalchemy
psycopg2-binary
PyMuPDF
spacy
transformers
#from removing torch and trying to only run with transdormers i needed to add multipart
python-multipart